.images-container {
    counter-reset: fabs;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.aws-image {
    margin: 1rem;
    width: 128px;
    height: 128px;
    transition: all .2s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.aws-image:hover {
    transform: scale(1.1);
}

.aws-image img {
    margin: auto;
    display: block;
    width: auto;
    height: auto;
    max-height: 100%;
    max-width: 100%;
}

.aws-image.selected a {
    border-style: solid;
    border-color: #2978d3;
    border-width: 0.25em;
    position: relative;
}

.aws-image.selected img {
    opacity: 0.8;
}

.aws-image a {
    position: relative;
}

.aws-image.selected>a:before {
    font-family: FontAwesome;
    color: #2978d3;
    content: "\f00c";
    position: absolute;
    top: 10%;
    left: 10%;
    width: 10%;
    height: 10%;
    z-index: 100;
    font-weight: 900px;
}

.aws-image:hover {
    cursor: pointer;
}

.modal-image {
    max-height: 20vh;
    width: 100%;
    object-fit: contain;
}

.fab-container {
    display: inline-flex;
    flex-direction: column;
    position: fixed;
    bottom: 50px;
    right: 50px;
}

.fab-outer {
    margin-top: 0.5em;
    width: 64px;
    height: 64px;
    outline: none;
}

.fab {
    width: 100%;
    height: 100%;
    outline: none;
    border: 0;
    border-radius: 50%;
    background-color: #2978d3;
    color: #fff;
}

.fab:hover {
    outline: 0;
    border: 0;
    border-radius: 50%;
    background-color: hsl(212, 67%, 40%);
    color: #fff;
    cursor: pointer;
}

.fab:focus,
.fab-outer:focus {
    outline: 0 !important;
}